*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-image: url(./background_image.jpg);
    background-repeat: no-repeat;
}
#cont_1{
    max-width: 1240px;
    background-color: rgba(0,0,0,0.3);
    height: 1036px;
    margin-top: 30px;
    margin-left: 30px;
}
#hd_1{
    color: white;
    font-size: 3.1rem;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing:0.3rem;
}
span{
    color: red;
}
#desc{
    font-family: 'Sorts Mill Goudy', serif;
}
header{
    text-align: center;
}
#cont_2{
    width: 500px;
    height: 897px;
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    padding: 10px 40px;
}
#surform{
    max-width: 460px;
    margin: auto;
    font-size: 1rem;
}
#name,#age,#email,#content,#fb1{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
#input_box{
    margin-top: 10px;
}
#button{
    width: 160px;
    height: 45px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 120px;
}